.acerca-de-container {
    padding: 40px;
    background-color: #fff;
    text-align: center;
  }
  
  .acerca-de-container h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .acerca-de-description {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
  }
  
  .acerca-de-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .photo {
    text-align: center;
  }
  
  .photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .photo h4 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
  }
  

  @media (max-width: 768px) {
    .photo img {
      width: 150px;
      height: 150px;
    }
  }
  